* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --webkit-font-smoothing: antialiased;
  --moz-osx-font-smoothing: grayscale;
}

:root {
  font-family: 'Mulish', sans-serif;
  font-size: 62.5%;
  --text-sm : 0.875rem;
  --text-base: 1.6rem;
  --header-bg: #065E7C;
  --input-bg: #3c7b91;
  --text-input: #FFFF;
  --footer-bg: #387E96;
  --h1-color: #202024;
  --p-color:  #121214;
}

body {
  font: 400 var(--text-base)/160% "Mulish", sans-serif;
}

header {
  background: var(--header-bg);
}

#page {
  display: grid;
  grid-row: auto;
  max-width: 38.2rem;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  height: 7.2rem;
  max-width: 38.2rem;
}

header nav {
  line-height: 0;
}

.avatar {
  border-radius: 50%;
  width: 4.2rem;
  height: 4.2rem;
}

.input-wrapper label {
  width: 1.0rem;
  height: 1.0rem;
  overflow: hidden;
  position: absolute;
}

.input-wrapper input {
  width: 100%;
  background: var(--input-bg);
  border: none;
  border-radius: 0.4rem;
  padding: 1.0rem;
  font-size: 1.6rem;
  line-height: 100%;
  font-weight: 500;
  color: var(--text-input);
}

.input-wrapper input::placeholder {
  color: var(--text-input);
}

.content {
  max-width: 38.2rem;
}

.content > img {
  max-width: 38.2rem;
}

.container-main {
  padding: 2.0rem;
  max-width: 38.2rem;
}

.action > button {
  border: none;
  background: #FFF;
  margin-left: 1.0rem;
  margin-top: 1.0rem;
  transition: all 0.5s ease;
}

button:hover {
  transform: scale(1.1);
}

.sidebar {
  display: block;
  margin-top: 3.2rem;
  list-style: none;
}

footer {
  background: var(--footer-bg);
  color: var(--text-input);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  height: 6.4rem;
}