* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --webkit-font-smoothing: antialiased;
  --moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
  --header-bg: #065E7C;
  --input-bg: #3c7b91;
  --text-input: #FFFF;
}

body {
  font-family: 'Mulish', sans-serif;
  font-size: 1.6rem;
  min-width: 430px;
}

header {
  background: var(--header-bg);
}

#page {
  display: grid;
  grid-template-areas:
  "header header header"
  "main main aside"
  "footer footer footer";
}

#page header {
  grid-area: header;
}

#page main {
  grid-area: main;
}

#page aside {
  grid-area: aside;
}

#page footer {
  grid-area: footer;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.avatar {
  border-radius: 50%;
  width: 4.2rem;
  height: 4.2rem;
}

.input-wrapper label {
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
}

.input-wrapper input {
  width: 100%;
  background: var(--input-bg);
  border: none;
  border-radius: 4px;
  padding: 10px;
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--text-input);
}

.input-wrapper input::placeholder {
  color: var(--text-input);
}

footer {
  background: var(--header-bg);
  color: var(--text-input);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
}